:root {
    --primary-color: #1c1d20;
    --secondary-color: #4a4d57;
    --background-color: #101114;
    --accent-color: #6797d2;
    --text-color: #f9f9f9;
    --alternate-color: #a64998;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Caladea', serif;
    font-size: 16pt;
    color: var(--text-color);
}

body {
    min-height: 100vh;
    padding: 10px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

@media (max-width: 500px) {
    html {
        font-size: 12pt;
    }
}
